@font-face {
    font-family: "novel-it";
    src: url('./fonts/Tomatoes-O8L8.ttf')
}

.ingredient-list li, h4, .confirm-order-btn-text {
    font-family: 'novel-it', cursive
}

.inline {
    display: inline-block !important
}

.cocktail-list, .ingredient-list {
    list-style: none;
    max-height: 70vh;
    overflow-y: scroll
}

.ingredient-list li {
    cursor: pointer
}

.nopadding {
    padding: 0 !important
}

.pic-container {
    position: relative;
    width: 40%;
    display: inline-block;
    margin-right: 25px;
    cursor: pointer
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    top: 14px
}

.middle {
    transition: .5s ease;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0.8;
    width: 100%;
    overflow: hidden;
    height: 35px
}

.pic-container:hover .image {
    opacity: 1
}

.pic-caption {
    background-color: #000;
    color: white;
    font-size: 12px;
    padding: 16px 32px;
    font-weight: 700
}

.label-eur {
    font-weight: 400;
    font-size: 18px;
    color: black;
    margin-left: 20px
}

.deleteCocktailIcon {
    position: absolute;
    top: 14px;
    left: 0;
    color: white;
    background-color: black;
    opacity: 0.7;
    padding: 7px;
    font-size: 14px;
    cursor: pointer
}

.header-v {
    box-shadow: 4px 5px 9px #ccc
}

.header-v .fas.fa-cocktail {
    font-size: 150px;
    transform: rotate(17deg)
}

.header-v button span {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 17px;
    font-weight: 400
}

.header-v .h-wallpaper {
    color: white;
    background: url(wh.jpg) center;
    background-size: contain
}

.header-v .h-wallpaper h1 {
    text-shadow: 3px 1px 1px black;
    font-family: 'novel-it', cursive;
    letter-spacing: 6px
}

.mr-2 {
    margin-right: 2px !important;
}

.footer-copyright {
    border-top: 1px solid #ccc
}

.react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.9) !important
}

.custom-ui {
    opacity: 1;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 20px;
    width: 1000px;
    height: 470px;

}

span.totalInDialog {
    font-size: 40px;
    color: #868686
}

.cancel-order {
    margin-right: 10px
}