@font-face {
    font-family: "novel-it";
    src: url('./fonts/Tomatoes-O8L8.ttf')
}

.main-container {
    padding: 35px
}

.btn-lg.btn-dark {
    opacity: 0.9
}

.bg-b {
    background-color: black;
    opacity: 0.9
}

.btn-lg.btn-dark:hover {
    transform: scale(1.1)
}

.confirm-order-btn {
    border-radius: 100px !important
}

.ingredient-list li, h4, .confirm-order-btn-text, .custom-ui-more-info h1 {
    font-family: 'novel-it', cursive
}

.inline {
    display: inline-block !important
}


.nopadding {
    padding: 0 !important
}

@media screen and (max-width: 899px) {
    .col-4 h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .col-4 h4 {
        font-size: 16px;
    }
}

.header-v {
    box-shadow: 4px 5px 9px #ccc
}

.header-v .fas.fa-cocktail {
    font-size: 150px;
    transform: rotate(17deg)
}

.header-v button span {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 17px;
    font-weight: 400
}

.header-v .h-wallpaper {
    color: white;
    background: url(wh.jpg) center;
    background-size: contain
}

.header-v .h-wallpaper h1 {
    text-shadow: 3px 1px 1px black;
    font-family: 'novel-it', cursive;
    letter-spacing: 6px
}

.mr-2 {
    margin-right: 2px !important;
}

.footer-copyright {
    border-top: 1px solid #ccc
}
